<div class="card game-detail-card">
  <div *ngIf="game.gameId" class="card-header"><h4>Game Details</h4></div>

  <div class="card-body">
    <div class="game-detail-content">
      <div class="game-image"><img src="assets/{{ game.image }}" /></div>

      <div class="game-info">
        <p><strong>Name: </strong>{{ game.name }}</p>
        <p><strong>Price: </strong>{{ game.price | currency }}</p>
        <p><strong>Release Date: </strong>{{ game.releaseDate }}</p>
        <p><strong>Rating: </strong>{{ game.rating }}</p>
      </div>
    </div>
  </div>

  <div class="card-footer button-group">
    <button class="btn btn-danger" (click)="deleteGame()">Delete</button>
    <a [routerLink]="['/api/games', currentGame.gameId, 'edit']" class="btn btn-success">Update</a>
    <button class='btn btn-secondary' (click)='onBack()'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
  <div *ngIf="!game.gameId">
    <br />
    <p>Cannot access this game...</p>
  </div>
</div>
