<mat-toolbar color="primary" class="mat-elevation-z4">
  <span style="display: flex; align-items: center; cursor: pointer;" routerLink="/">
    <mat-icon>sports_esports</mat-icon>
    <span style="margin-left: 8px; font-weight: bold; font-size: 1.2rem;">GameStore</span>
  </span>
  <span class="spacer"></span>
  @if (isLoggedIn && currentUserId) {
    <button mat-button (click)="goToGames()">Games</button>
  }
  @if (!isLoggedIn) {
    <button mat-button routerLink="/about" routerLinkActive="active">About</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  }
  @if (isLoggedIn) {
    <button mat-button (click)="logout()">Logout</button>
  }
</mat-toolbar>
